<!DOCTYPE html>
<html lang="en">
<head>
    <body background="R.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            box-shadow: 0 10px 12px rgba(0,0,0,0.1);
            
        }
        .block {
            width: 40%; /* Adjust as needed */
            border: 2px solid #000;
            padding: 30px;
            margin: 20px;
            box-shadow: 0 10px 12px rgba(0,0,0,0.1);
           
        }
    </style>
    <title>Contact Us</title>
</head>
<body>
    <h1><u>Contact Us</u></h1>
    <div class="container">
        <div class="block">
            <h2><u>Name</u></h2>
            <p><h3>Atul Kumar Soni</h3></p>
            <h2><u> Email id. </u></h2>
            <p><h3>soniatul2931@gmail.com</h3></p>
            <h2><u>Phone no.</u></h2>
            <p><h3> 9369586019</h3></p>
        </div>
        <div class="block">
            <h1><u>Address</u></h1>
            <p><h3>Lucknow University New Campus</h3></p>
            <p><h3>Jankipuram Extension Lucknow</h3></p>
        </div>
    </div>
</body>
</html>
