<!DOCTYPE html>
<html>
<head>
<body background="R.jpg">
    <title>Gallery</title>
    <style>

        /* Style for the gallery images */
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
            gap: 15px;
        }

        .gallery img {
            max-width: 70%;
            height: 80%;
        }
    </style>
</head>
<body>
<center>
    <h1><u><big>Image Gallery</big><u/></h1>
<hr>
   
    <div class="gallery">
        <img src="b.jpeg" alt="Image 1">
        <img src="c.jpg" alt="Image 2">
        <img src="d.jpg" alt="Image 3">
        <img src="e.jpg" alt="Image 4">
        <img src="f.jpg" alt="Image 5">
        <img src="g.jpeg" alt="Image 6">
        <img src="z.png" alt="Image 7">
        <img src="O.jpg" alt="Image 8">
       <img src="p.jpeg" alt="Image 9">
<hr>
        <!-- Add more images here -->
    </div>
</body>
</html>
